In [2]:
import numpy as np
import pandas as pd

In [3]:
def create_dataFrame(n, m):
    arr = np.random.randint(0, 10, (n, m))
    row_index = ['R' + str(i) for i in range(1, n + 1)]
    col_index = ['C' + str(i) for i in range(1, m + 1)]
    df = pd.DataFrame(arr)
    df.index = row_index
    df.columns = col_index
    return df

In [4]:
df = create_dataFrame(6,3)

In [5]:
df

    C1  C2  C3
R1   1   3   5
R2   5   1   6
R3   5   8   1
R4   9   0   6
R5   1   1   2
R6   6   6   4

# Creating DataFrames using Series Objects

In [6]:
planets = np.array(['MERCURY', 'VENUS', 'EARTH', 'MOON', 'MARS', 'JUPITER', 'SATURN', 'URANUS', 'NEPTUNE', 'PLUTO'])

In [7]:
mass = pd.Series([0.330, 4.87, 5.97,	0.073, 0.642, 1898, 568, 86.8, 102,	0.0146], index = planets)
diameter = pd.Series([4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370], index = planets)

In [8]:
df_planets = pd.DataFrame({'MASS' : mass, 'DIAMETER' : diameter})

In [9]:
df_planets

              MASS  DIAMETER
MERCURY     0.3300      4879
VENUS       4.8700     12104
EARTH       5.9700     12756
MOON        0.0730      3475
MARS        0.6420      6792
JUPITER  1898.0000    142984
SATURN    568.0000    120536
URANUS     86.8000     51118
NEPTUNE   102.0000     49528
PLUTO       0.0146      2370

In [10]:
def create_mean_row(df):
    #df.loc['MEAN'] = [np.mean(df[col]) for col in df.columns] OR
    df.loc['MEAN'] = df.mean()
    return df

In [11]:
df_planets = create_mean_row(df_planets)

In [12]:
df_planets

               MASS  DIAMETER
MERCURY     0.33000    4879.0
VENUS       4.87000   12104.0
EARTH       5.97000   12756.0
MOON        0.07300    3475.0
MARS        0.64200    6792.0
JUPITER  1898.00000  142984.0
SATURN    568.00000  120536.0
URANUS     86.80000   51118.0
NEPTUNE   102.00000   49528.0
PLUTO       0.01460    2370.0
MEAN      266.66996   40654.2

In [13]:
df = create_dataFrame(5, 6)

In [14]:
df

    C1  C2  C3  C4  C5  C6
R1   0   2   6   2   5   3
R2   6   0   0   6   2   1
R3   4   5   9   1   1   9
R4   6   1   8   1   6   4
R5   1   9   0   1   5   3

In [15]:
df['R_mean'] = df.mean(axis = 1)

In [16]:
df

    C1  C2  C3  C4  C5  C6    R_mean
R1   0   2   6   2   5   3  3.000000
R2   6   0   0   6   2   1  2.500000
R3   4   5   9   1   1   9  4.833333
R4   6   1   8   1   6   4  4.333333
R5   1   9   0   1   5   3  3.166667

In [17]:
df.loc['C_mean'] = df.mean()

In [18]:
df

         C1   C2   C3   C4   C5   C6    R_mean
R1      0.0  2.0  6.0  2.0  5.0  3.0  3.000000
R2      6.0  0.0  0.0  6.0  2.0  1.0  2.500000
R3      4.0  5.0  9.0  1.0  1.0  9.0  4.833333
R4      6.0  1.0  8.0  1.0  6.0  4.0  4.333333
R5      1.0  9.0  0.0  1.0  5.0  3.0  3.166667
C_mean  3.4  3.4  4.6  2.2  3.8  4.0  3.566667

In [19]:
df.drop('C_mean', inplace = True)

In [20]:
df

     C1   C2   C3   C4   C5   C6    R_mean
R1  0.0  2.0  6.0  2.0  5.0  3.0  3.000000
R2  6.0  0.0  0.0  6.0  2.0  1.0  2.500000
R3  4.0  5.0  9.0  1.0  1.0  9.0  4.833333
R4  6.0  1.0  8.0  1.0  6.0  4.0  4.333333
R5  1.0  9.0  0.0  1.0  5.0  3.0  3.166667

In [21]:
df.drop('R_mean', axis = 1, inplace = True)

In [22]:
df

     C1   C2   C3   C4   C5   C6
R1  0.0  2.0  6.0  2.0  5.0  3.0
R2  6.0  0.0  0.0  6.0  2.0  1.0
R3  4.0  5.0  9.0  1.0  1.0  9.0
R4  6.0  1.0  8.0  1.0  6.0  4.0
R5  1.0  9.0  0.0  1.0  5.0  3.0

# Working with seaborn planetary DataSet

In [23]:
import seaborn as sns

In [24]:
new_planets = sns.load_dataset('planets')

In [25]:
new_planets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [26]:
new_planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [27]:
new_planets.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [28]:
for i, r in new_planets.iterrows():
    if pd.isnull(r).sum() > 0:
        new_planets.drop(i, inplace = True)

In [29]:
new_planets.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [30]:
new_planets = sns.load_dataset('planets')

In [31]:
new_planets.dropna(inplace = True)

In [32]:
new_planets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 498 entries, 0 to 784
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          498 non-null    object
 1   number          498 non-null    int64
 2   orbital_period  498 non-null    float64
 3   mass            498 non-null    float64
 4   distance        498 non-null    float64
 5   year            498 non-null    int64
dtypes: float64(3), int64(2), object(1)
memory usage: 27.2+ KB

** Find All planets found after  2010 and method is 'Transit' and 'Radial Velocity' 
and distance is greater than 75 percentile **

In [33]:
new_planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [34]:
new_planets.tail()

              method  number  orbital_period   mass  distance  year
640  Radial Velocity       1       111.70000  2.100     14.90  2009
641  Radial Velocity       1         5.05050  1.068     44.46  2013
642  Radial Velocity       1       311.28800  1.940     17.24  1999
649          Transit       1         2.70339  1.470    178.00  2013
784  Radial Velocity       3       580.00000  0.947    135.00  2012

In [35]:
_percentile_75 = np.percentile(new_planets['distance'], 75)
_percentile_75

59.3325

In [36]:
df = pd.DataFrame()
for i, r in new_planets.iterrows():
    if (r['method'] == 'Radial Velocity' or r['method'] == 'Transit') and r['distance'] > _percentile_75 and r['year'] >= 2010:
        df = df.append(r, ignore_index = False)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 9 to 784
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   distance        50 non-null     float64
 1   mass            50 non-null     float64
 2   method          50 non-null     object
 3   number          50 non-null     float64
 4   orbital_period  50 non-null     float64
 5   year            50 non-null     float64
dtypes: float64(5), object(1)
memory usage: 2.7+ KB

In [38]:
df.head()

    distance   mass           method  number  orbital_period    year
9      74.79   1.99  Radial Velocity     2.0          452.80  2010.0
10     74.79   0.86  Radial Velocity     2.0          883.00  2010.0
58     80.64   1.70  Radial Velocity     1.0          277.02  2013.0
63     92.51  20.60  Radial Velocity     1.0          305.50  2013.0
84    175.44   1.11  Radial Velocity     1.0          137.48  2013.0

In [39]:
df.tail()

     distance   mass           method  number  orbital_period    year
620    307.69  5.300  Radial Velocity     1.0       745.70000  2011.0
627    223.21  1.250  Radial Velocity     1.0        16.20000  2010.0
636    149.25  9.180  Radial Velocity     1.0       124.60000  2013.0
649    178.00  1.470          Transit     1.0         2.70339  2013.0
784    135.00  0.947  Radial Velocity     3.0       580.00000  2012.0

In [40]:
df

     distance    mass           method  number  orbital_period    year
9       74.79   1.990  Radial Velocity     2.0       452.80000  2010.0
10      74.79   0.860  Radial Velocity     2.0       883.00000  2010.0
58      80.64   1.700  Radial Velocity     1.0       277.02000  2013.0
63      92.51  20.600  Radial Velocity     1.0       305.50000  2013.0
84     175.44   1.110  Radial Velocity     1.0       137.48000  2013.0
166     90.00   3.400  Radial Velocity     2.0      5584.00000  2010.0
181    354.00   3.400  Radial Velocity     2.0      1022.00000  2011.0
202    167.50   3.100  Radial Velocity     1.0       431.80000  2011.0
206    115.21   1.600  Radial Velocity     1.0       311.60000  2013.0
218    150.60   7.600  Radial Velocity     1.0       177.11000  2011.0
248     66.89   0.865  Radial Velocity     2.0        19.38200  2013.0
249     66.89   5.130  Radial Velocity     2.0       931.00000  2013.0
257    127.88   2.700  Radial Velocity     1.0       772.00000  2011.0
282    168.92   1.700  Radial Velocity     1.0       387.10000  2011.0
285    121.07   1.800  Radial Velocity     1.0       912.00000  2011.0
290    136.80   1.300  Radial Velocity     1.0       326.60000  2011.0
349     80.06   6.000  Radial Velocity     1.0       480.50000  2012.0
376    112.23   1.300  Radial Velocity     1.0       705.00000  2011.0
394    132.80   0.900  Radial Velocity     1.0       361.10000  2011.0
396    221.24   4.000  Radial Velocity     1.0       647.30000  2011.0
400    150.38   1.800  Radial Velocity     1.0       436.90000  2011.0
405    130.89   1.400  Radial Velocity     1.0       868.00000  2011.0
406    140.85   1.700  Radial Velocity     1.0       157.57000  2011.0
414    138.50   5.900  Radial Velocity     1.0       778.10000  2011.0
415    121.07   0.960  Radial Velocity     1.0         6.49500  2010.0
421     87.87  11.000  Radial Velocity     1.0      2890.00000  2011.0
426    138.50   2.600  Radial Velocity     1.0       443.40000  2011.0
429     65.62   0.770  Radial Velocity     1.0        68.27000  2010.0
444    110.62   2.100  Radial Velocity     1.0       670.00000  2011.0
448     97.66   4.500  Radial Velocity     1.0      2082.00000  2013.0
461    121.36   2.200  Radial Velocity     1.0       883.00000  2011.0
464     98.52   1.490  Radial Velocity     1.0      1544.00000  2011.0
480    106.38   1.900  Radial Velocity     1.0      1299.00000  2011.0
483    126.10   2.900  Radial Velocity     1.0       176.30000  2010.0
495    182.82   1.500  Radial Velocity     1.0       689.00000  2011.0
501     68.54   2.580  Radial Velocity     2.0      3452.00000  2014.0
509    114.15   1.800  Radial Velocity     1.0       521.00000  2011.0
510     68.59   1.130  Radial Velocity     2.0        12.62000  2013.0
511     68.59   1.900  Radial Velocity     2.0       248.40000  2013.0
519     69.44   0.770  Radial Velocity     2.0        75.29000  2010.0
520     69.44   2.290  Radial Velocity     2.0      1314.00000  2010.0
573     68.35   1.850  Radial Velocity     2.0       613.80000  2010.0
574     68.35   0.895  Radial Velocity     2.0       825.00000  2010.0
587    352.11   9.900  Radial Velocity     1.0       875.50000  2012.0
610    289.02  11.100  Radial Velocity     1.0       672.10000  2012.0
620    307.69   5.300  Radial Velocity     1.0       745.70000  2011.0
627    223.21   1.250  Radial Velocity     1.0        16.20000  2010.0
636    149.25   9.180  Radial Velocity     1.0       124.60000  2013.0
649    178.00   1.470          Transit     1.0         2.70339  2013.0
784    135.00   0.947  Radial Velocity     3.0       580.00000  2012.0

In [41]:
df_ = new_planets.copy()

In [42]:
df_.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

** Faster way to Query DataFrames **

In [43]:
df_ = new_planets.copy()
df_ = df_[(df_['year'] >= 2010) & (df_['distance'] > _percentile_75) &
          ((df_['method'] == 'Transit') | (df_['method'] == 'Radial Velocity'))]

In [44]:
df_.describe()

          number  orbital_period       mass    distance         year
count  50.000000       50.000000  50.000000   50.000000    50.000000
mean    1.300000      763.904808   3.322740  133.142600  2011.360000
std     0.505076      966.789870   3.648002   70.378699     1.120496
min     1.000000        2.703390   0.770000   65.620000  2010.000000
25%     1.000000      255.555000   1.325000   80.205000  2011.000000
50%     1.000000      550.500000   1.875000  121.070000  2011.000000
75%     2.000000      873.625000   3.400000  150.097500  2012.000000
max     3.000000     5584.000000  20.600000  354.000000  2014.000000

** Make the names in the method column to abbreveations of the starting Letter of the words **

In [45]:
new_planets = sns.load_dataset('planets')
df = new_planets.copy()

In [46]:
df.method.unique()

array(['Radial Velocity', 'Imaging', 'Eclipse Timing Variations',
       'Transit', 'Astrometry', 'Transit Timing Variations',
       'Orbital Brightness Modulation', 'Microlensing', 'Pulsar Timing',
       'Pulsation Timing Variations'], dtype=object)

In [47]:
short_names = {}
for s in df.method.unique():
    short_names[s] = ''.join([x[0] for x in s.split(' ')])

In [48]:
short_names

{'Radial Velocity': 'RV',
 'Imaging': 'I',
 'Eclipse Timing Variations': 'ETV',
 'Transit': 'T',
 'Astrometry': 'A',
 'Transit Timing Variations': 'TTV',
 'Orbital Brightness Modulation': 'OBM',
 'Microlensing': 'M',
 'Pulsar Timing': 'PT',
 'Pulsation Timing Variations': 'PTV'}

In [49]:
for i, r in df.iterrows():
    df.loc[i, 'short method'] = short_names.get(r['method'], r['method'])

In [50]:
df = new_planets.copy()

In [51]:
def short_function(s):
    return short_names.get(s, s)

In [52]:
df['short method'] = df['method'].apply(short_function)

In [53]:
df['short method'].unique()

array(['RV', 'I', 'ETV', 'T', 'A', 'TTV', 'OBM', 'M', 'PT', 'PTV'],
      dtype=object)

** Find count of planets discovered using various techniques **

In [83]:
df = new_planets.copy()

In [84]:
df[df['method'] == 'Transit']['method'].count()

397

In [88]:
dict_method = {}
for s in df.method.unique():
    #print(s, " ",df[df['method'] == s]['method'].count())
    dict_method[s] = df[df['method'] == s]['method'].count()

In [90]:
print(dict_method)

{'Radial Velocity': 553, 'Imaging': 38, 'Eclipse Timing Variations': 9, 'Transit': 397, 'Astrometry': 2, 'Transit Timing Variations': 4, 'Orbital Brightness Modulation': 3, 'Microlensing': 23, 'Pulsar Timing': 5, 'Pulsation Timing Variations': 1}

In [91]:
df.groupby('method')['method'].count()

method
Astrometry                         2
Eclipse Timing Variations          9
Imaging                           38
Microlensing                      23
Orbital Brightness Modulation      3
Pulsar Timing                      5
Pulsation Timing Variations        1
Radial Velocity                  553
Transit                          397
Transit Timing Variations          4
Name: method, dtype: int64

In [95]:
df = new_planets.copy()

** Find all planets discovered after 2010s and find the fraction of planets discovered using various techniques **

In [133]:
time_2010 = df[df['year'] >= 2010].groupby('method')['method'].count()

In [134]:
df = new_planets.copy()

In [135]:
time_all = df.groupby('method')['method'].count()

In [136]:
time_2010/time_all

method
Astrometry                       1.000000
Eclipse Timing Variations        0.666667
Imaging                          0.473684
Microlensing                     0.565217
Orbital Brightness Modulation    1.000000
Pulsar Timing                    0.200000
Pulsation Timing Variations           NaN
Radial Velocity                  0.388788
Transit                          0.843829
Transit Timing Variations        1.000000
Name: method, dtype: float64