In [403]:
import numpy as np
import pandas as pd
from statistics import variance

In [404]:
nifty50_2019 = pd.read_csv("NIFTY50_2019.csv", index_col = 0)

In [405]:
nifty50_2019.head()

                 Open      High       Low     Close
Date
31 Dec 2019  12247.10  12247.10  12151.80  12168.45
30 Dec 2019  12274.90  12286.45  12213.80  12255.85
27 Dec 2019  12172.90  12258.45  12157.90  12245.80
26 Dec 2019  12211.85  12221.55  12118.85  12126.55
24 Dec 2019  12269.25  12283.70  12202.10  12214.55

In [406]:
nifty50_2019.describe()

               Open          High           Low         Close
count    245.000000    245.000000    245.000000    245.000000
mean   11444.261837  11494.463061  11370.888367  11432.632245
std      456.299881    450.958644    460.381310    454.214611
min    10636.700000  10690.350000  10583.650000  10604.350000
25%    10996.050000  11054.800000  10901.600000  11003.050000
50%    11536.150000  11588.500000  11452.450000  11512.400000
75%    11861.150000  11895.650000  11784.450000  11841.550000
max    12274.900000  12293.900000  12252.750000  12271.800000

#Statement 1
**How many days was nifty50 volatile i.e. (high > 105% of low)**

In [407]:
%%time
count = 0
df_ = nifty50_2019.copy()
for i, r in df_.iterrows():
    if r['High'] > (r['Low'] * 1.05):
        count = count + 1
        df_.loc[i, 'volatile'] = True
    else:
        df_.loc[i, 'volatile'] = False
print(count)

1
CPU times: user 118 ms, sys: 917 µs, total: 119 ms
Wall time: 120 ms

In [408]:
%%time
df_ = nifty50_2019.copy()
print(df_[df_['High'] > (df_['Low'] * 1.05)]['High'].count())
nifty50_2019['volatile'] = df_['High'] > (df_['Low'] * 1.05)

1
CPU times: user 3.28 ms, sys: 968 µs, total: 4.25 ms
Wall time: 4.66 ms

In [409]:
nifty50_2019.head()

                 Open      High       Low     Close  volatile
Date
31 Dec 2019  12247.10  12247.10  12151.80  12168.45     False
30 Dec 2019  12274.90  12286.45  12213.80  12255.85     False
27 Dec 2019  12172.90  12258.45  12157.90  12245.80     False
26 Dec 2019  12211.85  12221.55  12118.85  12126.55     False
24 Dec 2019  12269.25  12283.70  12202.10  12214.55     False

#Statement 2
**How many days was nifty50 volatile i.e. (high > 105% of low)**

In [410]:
nifty50Next = pd.read_csv("NIFTYNext50_2019.csv", index_col = 0)

In [411]:
%%time
count = 0
df_ = nifty50Next.copy()
for i, r in df_.iterrows():
    if r['High'] > (r['Low'] * 1.05):
        count = count + 1
        df_.loc[i, 'volatile'] = True
    else:
        df_.loc[i, 'volatile'] = False
print(count)

1
CPU times: user 140 ms, sys: 3.86 ms, total: 144 ms
Wall time: 152 ms

In [412]:
%%time
df_ = nifty50Next.copy()
print(df_[df_['High'] > (df_['Low'] * 1.05)]['High'].count())
nifty50Next['volatile'] = df_['High'] > (df_['Low'] * 1.05)

1
CPU times: user 1.96 ms, sys: 950 µs, total: 2.91 ms
Wall time: 2.68 ms

In [413]:
nifty50Next.head()

                 Open      High       Low     Close  volatile
Date
31 Dec 2019  28495.00  28549.50  28270.25  28307.55     False
30 Dec 2019  28528.95  28612.95  28406.70  28484.85     False
27 Dec 2019  28354.50  28500.25  28319.90  28476.80     False
26 Dec 2019  28409.10  28435.25  28259.75  28280.25     False
24 Dec 2019  28423.70  28430.40  28318.75  28382.85     False

#Statement 3


*   Find days where both Nifty50 and Nifty50Next are volatile
*   Find days where both Nifty50 and Nifty50Next are non_volatile
*   Find days where Nifty50 is volatile and Nifty50Next is non_volatile
*   Find days where Nifty50 is non_volatile and Nifty50Next is volatile

In [414]:
%%time
df_ = nifty50_2019.copy()
dfN = nifty50Next.copy()

count = [0, 0, 0, 0] 
#0 - volatile/volatile
#1 - non_volatile/non_volatile
#2 - volatile/non_volatile
#3 - non_volatile/volatile
for i, r in df_.iterrows():
    if df_.loc[i, 'volatile'] & dfN.loc[i, 'volatile']:
        count[0] = count[0] + 1
    if ~df_.loc[i, 'volatile'] and ~dfN.loc[i, 'volatile']:
        count[1] = count[1] + 1
    if df_.loc[i, 'volatile'] and ~dfN.loc[i, 'volatile']:
        count[2] = count[2] + 1
    if ~df_.loc[i, 'volatile'] and dfN.loc[i, 'volatile']:
        count[3] = count[3] + 1
print(count)

[1, 244, 0, 0]
CPU times: user 41.1 ms, sys: 0 ns, total: 41.1 ms
Wall time: 41.5 ms

In [415]:
%%time
df_ = nifty50_2019.copy()
dfN = nifty50Next.copy()

series = df_['volatile'] & dfN['volatile']
print(series[series == True].count())

series = ~df_['volatile'] & ~dfN['volatile']
print(series[series == True].count())

series = df_['volatile'] & ~dfN['volatile']
print(series[series == True].count())

series = ~df_['volatile'] & dfN['volatile']
print(series[series == True].count())

1
244
0
0
CPU times: user 6.11 ms, sys: 955 µs, total: 7.06 ms
Wall time: 7.09 ms

#Statement 5
**Compute the mean, median, std, var of closing values for each month in NIFTY50 for 2019**

In [416]:
nifty50_close = nifty50_2019['Close']
new_index = map(pd.Timestamp, nifty50_close.index)
nifty50_close = pd.Series(nifty50_close, index = new_index)

In [417]:
nifty50_close.index

DatetimeIndex(['2019-12-31', '2019-12-30', '2019-12-27', '2019-12-26',
               '2019-12-24', '2019-12-23', '2019-12-20', '2019-12-19',
               '2019-12-18', '2019-12-17',
               ...
               '2019-01-14', '2019-01-11', '2019-01-10', '2019-01-09',
               '2019-01-08', '2019-01-07', '2019-01-04', '2019-01-03',
               '2019-01-02', '2019-01-01'],
              dtype='datetime64[ns]', length=245, freq=None)

In [418]:
%%time
mean = list([0 for i in range(13)])
median = list([0 for i in range(13)])
std = list([0 for i in range(13)])
var = list([0 for i in range(13)])
for i in range(1, 13):
    mean[i] = nifty50_close[nifty50_close.index.month == i].mean()
    median[i] = nifty50_close[nifty50_close.index.month == i].median()
    std[i] = nifty50_close[nifty50_close.index.month == i].std()
    var[i] = variance(nifty50_close[nifty50_close.index.month == i])
print("Mean", mean[1:])
print("Median", median[1:])
print("Std", std[1:])
print("Variance", var[1:])

Mean [10809.463043478261, 10833.84, 11317.242105263158, 11666.45263157895, 11592.022727272726, 11839.023684210526, 11523.110869565216, 10976.500000000002, 11124.289473684208, 11490.204999999998, 11964.1325, 12096.880952380954]
Median [10821.6, 10819.025, 11354.25, 11665.95, 11683.075, 11841.55, 11555.9, 11007.175, 11003.5, 11523.3, 11940.7, 12086.7]
Std [92.24117501197038, 119.60686655169836, 223.40134615079708, 65.82451728667185, 279.1559210699251, 115.11657903623536, 260.0853884944335, 97.09780608936744, 310.8913858117173, 217.41853943367806, 84.21605715595283, 134.22692769726802]
Variance [8508.434367588949, 14305.802526315783, 49908.161461988246, 4332.867076023362, 77928.02826839825, 13251.826769005822, 67644.40930830041, 9427.983947368399, 96653.45377193006, 47270.82128947383, 7092.344282894713, 18016.86811904762]
CPU times: user 25.2 ms, sys: 0 ns, total: 25.2 ms
Wall time: 25.1 ms

#Statement 6
**On the days in which NIFTY50 closed higher than the open, what was the mean of (close - open) for NIFTYNext50**

In [419]:
df_ = nifty50_2019
dfN = nifty50Next

In [420]:
%%time
count = 0 
sum = 0
for i, r in df_.iterrows():
    if r['Close'] > r['Open']:
        sum = sum + (dfN.loc[i, 'Close'] - dfN.loc[i, 'Open'])
        count = count + 1
print(sum/count)

118.70188679245271
CPU times: user 40.1 ms, sys: 96 µs, total: 40.2 ms
Wall time: 42.2 ms

In [421]:
%%time
print((dfN[df_['Close'] > df_['Open']]['Close'] - dfN[df_['Close'] > df_['Open']]['Open']).mean())

118.70188679245271
CPU times: user 2.85 ms, sys: 0 ns, total: 2.85 ms
Wall time: 2.71 ms

#Statement 7
**In 2019, how many days had the day's high lower than the previous day's low in NIFTY50**

In [422]:
%%time
_df = nifty50_2019
np.sum(df_['Low'][::-1][:df_['Low'].size - 1].values > df_['High'][::-1][1:].values)

CPU times: user 1.56 ms, sys: 0 ns, total: 1.56 ms
Wall time: 1.54 ms

#Statement 8
**In 2019, on how many days did the day's close exceed the 30 day moving average in NIFTY50 (exclude first month)**

In [423]:
df = nifty50_2019

In [424]:
series = df_['Close']

In [425]:
series_30 = series[::-1]
new_index = map(pd.Timestamp, series.index)
series_30 = pd.Series(series, index = new_index)

In [426]:
series_30[series_30.rolling('30d').mean().index.month != 1]

2019-12-31    12168.45
2019-12-30    12255.85
2019-12-27    12245.80
2019-12-26    12126.55
2019-12-24    12214.55
                ...
2019-02-07    11069.40
2019-02-06    11062.45
2019-02-05    10934.35
2019-02-04    10912.25
2019-02-01    10893.65
Name: Close, Length: 222, dtype: float64

In [427]:
series = series[::-1]
new_index = map(pd.Timestamp, series.index)
series = pd.Series(series, index = new_index)

In [428]:
%%time
np.sum(series[series.index.month != 1].values > series_30[series_30.rolling('30d').mean().index.month != 1].values)

CPU times: user 1.26 ms, sys: 1.98 ms, total: 3.24 ms
Wall time: 4.56 ms

111