#Task - 1

In [ ]:
import numpy as np
import pandas as pd
from math import pi
from math import pow
from math import ceil

In [ ]:
planets = np.array(['MERCURY', 'VENUS', 'EARTH', 'MOON', 'MARS', 'JUPITER', 'SATURN', 'URANUS', 'NEPTUNE', 'PLUTO'])

In [ ]:
mass = pd.Series([0.330, 4.87, 5.97,	0.073, 0.642, 1898, 568, 86.8, 102,	0.0146], index = planets)
diameter = pd.Series([4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370], index = planets)

In [ ]:
radius = diameter/2

**Formula for Density of Sphere
= $ M / (4/3) * \pi * R ^ 3$**

In [ ]:
temp = []
for r in radius:
    temp.append((4/3) * pi * pow(r, 3))

In [ ]:
tempSeries = pd.Series(temp, index = planets)

In [ ]:
density = mass / tempSeries

In [ ]:
print(density)

MERCURY    5.426538e-12
VENUS      5.244977e-12
EARTH      5.493286e-12
MOON       3.322460e-12
MARS       3.913302e-12
JUPITER    1.240039e-12
SATURN     6.194402e-13
URANUS     1.241079e-12
NEPTUNE    1.603427e-12
PLUTO      2.094639e-12
dtype: float64

In [ ]:
density = mass / (4/3 * pi * np.power(radius, 3))

In [ ]:
mass['Planetx'] = 3.67

In [ ]:
density = mass / (4/3 * pi * np.power(radius, 3))

In [ ]:
print(density)

EARTH      5.493286e-12
JUPITER    1.240039e-12
MARS       3.913302e-12
MERCURY    5.426538e-12
MOON       3.322460e-12
NEPTUNE    1.603427e-12
PLUTO      2.094639e-12
Planetx             NaN
SATURN     6.194402e-13
URANUS     1.241079e-12
VENUS      5.244977e-12
dtype: float64

In [ ]:
density_mean = np.mean(density[pd.isnull(density)])

In [ ]:
density[pd.isnull(density)] = density_mean

In [ ]:
print(density)

EARTH      5.493286e-12
JUPITER    1.240039e-12
MARS       3.913302e-12
MERCURY    5.426538e-12
MOON       3.322460e-12
NEPTUNE    1.603427e-12
PLUTO      2.094639e-12
Planetx    3.019919e-12
SATURN     6.194402e-13
URANUS     1.241079e-12
VENUS      5.244977e-12
dtype: float64